@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="footer py-4  ">
    @* <div class="marquee bg-light p-2">
        <div class="marquee-text">
            * Bia lào ưu đãi <img height="100px" src="~/img/QC/Bia_lao.jfif"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            * say mê sau giờ làm việc <img height="100px" src="~/img/QC/nhau.webp" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            * DKS
        </div>
    </div> *@

    <style>
        .marquee {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
        }

        .marquee-text {
            display: inline-block;
            padding-left: 100%;
            animation: marquee 30s linear infinite;
            font-size: 20px;
            font-weight: bold;
            color: #007bff;
        }

        @@keyframes marquee {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    </style>

    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    © <script>
                          document.write(new Date().getFullYear())
                    </script>,
                    Được tạo <i class="fa fa-heart"></i> bởi
                    <a href="#" class="font-weight-bold" target="_blank">HoangTV</a>
                    Mong là có thể hỗ trợ bạn trong cuộc sống.
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/tran.hoang.891861" class="nav-link text-white" target="_blank">Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://mail.google.com/mail/u/0/#inbox" class="nav-link text-white" target="_blank">Gmail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>